body {
  text-align: left;
}
#h2 {
position: absolute;
font-family: 'Amatic SC', cursive;
color: white;
}

#h3 {
  position: absolute;
  left: 900px;
  top: 200px;
  font-family: 'Amatic SC', cursive;
  color: white;


}
.content {
box-sizing: border-box;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  position: relative;

}
#thevy {
position: absolute;
top: 200px;
font-size: 130%;
color: black;
}

#p1 {
  position: absolute;
  top: 540px;
  font-size: 100%;
  color: black;
}

#p2 {
  position: absolute;
  font-size: 100%;
  color: black;
  top: 600px;
}

#p3 {
  position: absolute;
  font-size: 100%;
  top: 700px;
  color: black;
}

#img1 {
  position: absolute;
  top: 270px;
  border-radius: 20px;
}

iframe {
position: absolute;
left: 900px;
top: 300px;
border-radius: 20px;
}

#ahmed {
  position: relative;
  top: 580px;
  color: black;
}

#daniel {
  position: relative;
  top: 600px;
  color: black;
}
